/*Основной фон страницы*/
body {
    background-image: linear-gradient(rgba(160, 160, 160, 0.5), rgba(160, 160, 160, 0.5)), url(i/fon.jpg);
}

/*Заголовок 1*/
h1 {
    color: #184a6f;
}

/*Заголовок 2*/
h2 {
    
}

/*Заголовок 3*/
h3 {

}

/*Заголовок 4*/
h4 {
    color: white;
}

/*Заголовок 5*/
h5 {
    
}

/*Шапка сайта*/
header {
    background-color: #7289be;
    height: 140px;
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: relative;
    width: 110px;
    height: 110px;
    margin: auto 10px;
    background: #7b7b7b;
    padding: 5px;
    border-radius: 50%;
    border-style: ridge;
    box-sizing: border-box;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

/*Всплывающее меню*/
.top_menu3 {
    background-color:  #212d89;
    border: 2px;
    border-style: outset;
    border-top-style: none;
}

/*Наведение на пункт всплывающего меню*/
.top_menu3 div:hover {
    background-color: #7b7b7b;
}

/*Сноска в кнопке*/
.button_link {
    color: #fafafa;
    background-color: #7b7b7b;
}

/*При наведении на ссылку в кнопке*/
.button_link:hover {
    background-color: #212d89;
}

/*Белая полоса в шапке для скрытия сонтентапод шапкой*/
.white-line {
    display: none;
}

/*Прозрачная полоса в шапке для отображения ссылок*/
.opacity-line {
    top: 110px;
}

/*Сноска в полосе для отображения ссылок*/
.link_page a {
    color: white;
}

/*Шапка админинки*/
.admHead {
    vertical-align: middle;
    color: white;
}

/*Ячейка в табличном расположении эл-ов с тенью*/
.grid_cell_shadow {
    padding-top: 2px;
    box-shadow: 0 0 0 0;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #505050;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

/*Ссылка в блоке меню*/
.Menu a {
    background-color: #7b7b7b;
    border-color: white;
    color: #fafafa;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: #212d89;
}

/*Подменю*/
.Menu a.second {
    background-color: rgba(178, 178, 178, 1);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: #212d89;
}

/*Центрирующий основной блок*/
.cent {
    margin-top: 160px;
}

/*Задний фон для табличного списка админки*/
.tbl_back {
    background-color: #5574af;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 5px;
    margin: 10px 0 20px 0;
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
    border-style: ridge;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    background-color: #49557e;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(83, 116, 206, 0.8);
    color: #d4d2d2;
    /*background-image: url(i/footer.png);*/
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}