/*Основной фон страницы*/
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Light";
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
}

/*Заголовок 1*/
h1 {
    font-family: "AC Display Bold";
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #184a6f;
    text-align: center;
}

/*Заголовок 2*/
h2 {
    font-family: "AC Display Bold";
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*Заголовок 3*/
h3 {
    font-family: "AC Display";
    font-size: 20px;
    text-decoration-style: double;
    text-align: left;
    text-transform: uppercase; /* Заглавные буквы */
    margin: 0;
}

/*Заголовок 4*/
h4 {
    font-family: "AC Display";
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
}

/*Заголовок 5*/
h5 {
    font-family: "AC Display";
    font-size: 25px;
    text-decoration-style: double;
    margin: 0;
}

/*Шапка сайта*/
header {
    font-family: "AC Display";
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    height: 80px;
    min-height: 70px;
    padding: 0;
    background-color: rgb(156, 166, 186);
    border: 3px;
    border-bottom-style: ridge;
    vertical-align: top;
}

/*Изображения в шапке*/
.head_main img {
    display: block;
    margin: auto;
    height: 98%;
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

/*Второй блок для изображения значка*/
.Head_img2 {
    position: relative;
    margin: 0 20px 20px 20px;
    display: block;
    border-bottom: 3px;
    border-right: 3px;
    border-left: 3px;
    border-top: 0;
    border-style: ridge;
    background: rgba(111, 107, 107, 1);
}

/*Блок поискового запроса*/
.search {
    top: 50px;
    right: 10px;
}

/*Сноска в кнопке*/
.button a {
    display: block;
    margin: -2px 5px 10px 5px;
    width: 70px;
    height: 25px;
    float: right;
    color: #fafafa;
    background-color: #818181;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    
    border: 2px;
    border-style: outset;
    
    animation: width_menu_in 0.5s linear;
}

/*При наведении на ссылку в кнопке*/
.button a:hover {
    display: block;
    background-color: #2c2c2c;
    width: 130px;
    text-align: center;
    padding: 7px;
    
    /*Анимация*/
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    animation: width_menu_out 0.5s linear;
}

/*Анимация расширения кнопки меню*/
@keyframes width_menu_out {
    from {
        width: 70px;
        display: none;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    
    to {
        width: 130px;
        display: block;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }
}

/*Анимация возвращения кнопки меню в исходное состояние*/
@keyframes width_menu_in {
    from {
        width: 130px;
        display: block;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }
    
    to {
        width: 70px;
        display: none;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

/*Шапка админинки*/
.admHead {
    vertical-align: middle;
    color: white;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #505050;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
}

/*Меню слева*/
.Menu {
    display: inherit;
    width: 220px;
    margin: 20px 0px 20px 0px;
    font-family: "AC Display";
}

/*блок в блоке меню*/
.Menu div {
    width: 180px;
    position: relative;
    margin: 0px 20px 0px 0px;
}

/*Ссылка в блоке меню*/
.Menu a {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 5px 5px -2px;
    background-color: #717171;
    border: 2px;
    border-style: outset;
    border-color: white;
    color: #fafafa;
    float: left;
    text-decoration: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    
    transition: all 0.5s;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: #343434;
    /*Анимация*/
    transition: all 0.5s;
    padding-left: 25px;
}

/*Подменю*/
.Menu a.second {
    background-color: rgba(178, 178, 178, 1);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: #343434;
}

/*Заголовок табличного списка в админке*/
.list_back_admin .listHead {
    color: white;
}

/*Задний фон для табличного списка админки. Ставится в Table*/
.list_back_admin {
    background-color: #9b9b9b;
    border-radius: 5px;
    padding: 3px;
    width: 80%;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 3px;
    margin: 10px 0 20px 0;
    background-color: rgb(163, 163, 163);
    border-radius: 50px;
    border-style: ridge;
}

/*Формы создания и редактирования в админке*/
.form-item {
    display: block;
    margin: 0px 0px 15px 0px;
    width: 250px;
    border-radius: 5px;
    padding: 3px;
    border-color: #9b9b9b;
    border-style: outset;
    border-width: thin;
    
}

/*Текстовое поле в форме создания и редактирования в админке*/
.form-item-ta {
    display: block;
    margin: 0px 0px 15px 0px;
    min-width: 500px;
    max-width: 500px;
    height: 200px;
    min-height: 200px;
    border-radius: 5px;
    padding: 3px;
    border-style: outset;
    border-color: #9b9b9b;
}

/*Текстовое поле в форме написания сообщения*/
.form-item-mail {
    display: block;
    margin: 0px 0px 15px 0px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 150px;
    min-height: 150px;
    border-radius: 5px;
    padding: 3px;
    border-style: outset;
    border-color: #9b9b9b;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    border-radius: 7px;
    padding: 7px;
    color: #fafafa;
    background-color: #9b9b9b;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(175, 175, 175, 1);
    border: 3px;
    border-top-style: groove;
    color: white;
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}