/*Заголовок 1*/
h1 {
    color: #184a6f;
}

/*Заголовок 2*/
h2 {
    color: #2a588e;
}

/*Заголовок 3*/
h3 {
    color: #2a588e;
}

/*Заголовок 4*/
h4 {
    color: white;
}

/*Заголовок 5*/
h5 {
    color: #2a588e;
}

/*Заголовок 6*/
h6 {
    color: white;
}

/*Шапка сайта*/
header {
    background-color: rgb(103, 185, 237);
    border-bottom-style: ridge;
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: absolute;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;
    padding: 0;
    background: rgb(83, 109, 139);
    border-radius: 50%;
    border: 3px;
    border-style: ridge;
}

/*Второй блок для изображения значка в круге*/
.Head_img2 {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 10px;
    border-radius: 50%;
    display: block;
}

/*Сноска в кнопке*/
.button a {
    color: #fafafa;
    background-color: rgb(92, 118, 178);
}

/*При наведении на ссылку в кнопке*/
.button a:hover {
    background-color: rgb(40, 59, 141);
}

/*Шапка админинки*/
.admHead {
    vertical-align: middle;
    color: white;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #2b57aa;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    font-family: "AC Display Bold";
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

/*Ссылка в блоке меню*/
.Menu a {
    background-color: rgb(92, 118, 178);
    border-color: white;
    color: #fafafa;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: rgb(40, 59, 141);
}

/*Подменю*/
.Menu a.second {
    background-color: rgb(110, 174, 221);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: rgb(40, 59, 141);
}

/*Задний фон для табличного списка админки*/
.tbl_back {
    background-color: #2b57aa;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 5px;
    margin: 10px 0 20px 0;
    background-color: rgb(103, 185, 237);
    border-radius: 50px;
    border-style: ridge;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    background-color: #62759a;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(103, 185, 237);
    border: 3px;
    border-top-style: groove;
    color: white;
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}