/*Заголовок 1*/
h1 {
    color: #184a6f;
}

/*Заголовок 2*/
h2 {
    color: #2a588e;
}

/*Заголовок 3*/
h3 {
    color: #2a588e;
}

/*Заголовок 4*/
h4 {
    color: white;
}

/*Заголовок 5*/
h5 {
    color: #2a588e;
}

/*Заголовок 6*/
h6 {
    color: white;
}

/*Шапка сайта*/
header {
    background-color: rgb(103, 185, 237);
    border-bottom-style: ridge;
}

/*Шапка админки*/
.admHead {
    background-color: rgb(103, 185, 237);
}

/*Задник для кнопок верхнего меню*/
.button_back {
    background-color: rgb(103, 185, 237);
    border-bottom-style: ridge;
}

/*Блок для скрытия тени блока кнопок*/
.clear_block {
    background-color: rgb(103, 185, 237);
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 10px 0 0 10px;
    background: rgb(83, 109, 139);
    border-radius: 50%;
    overflow: hidden;
    border-style: ridge;
    padding: 5px;
    box-sizing: border-box;
}

/*Изображение логотипа в шапке*/
.main_img img {
    width: 94px;
    height: 94px;
}

/*Надпись svg*/
.name_svg {
    width: 48%;
    height: 48%;
    margin-top: -25px;
    margin-left: -17px;
}

/*Всплывающее меню*/
.top_menu3 {
    background-color:  rgb(40, 59, 141);
    border: 2px;
    border-style: outset;
    border-top-style: none;
}

/*Наведение на пункт всплывающего меню*/
.top_menu3 div:hover {
    background-color: rgb(92, 118, 178);
}

/*Сноска в кнопке*/
.button_link {
    color: #fafafa;
    background-color: rgb(92, 118, 178);
}

/*При наведении на ссылку в кнопке*/
.button_link:hover {
    background-color: rgb(40, 59, 141);
}

/*Белая полоса в шапке для скрытия сонтентапод шапкой*/
.white-line {
    position: absolute;
    left: 0;
    top: 106px;
}

/*Прозрачная полоса в шапке для отображения ссылок*/
.opacity-line {
    top: 106px;
}

/*Основное поле контента*/
.content {
    min-height: calc(100vh - 336px);
}

/*Ячейка в табличном расположении эл-ов с тенью*/
.grid_cell_shadow {
    padding-top: 2px;
    box-shadow: 0 0 0 0;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #2b57aa;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    font-family: "AC Display Bold";
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

/*Ссылка в блоке меню*/
.Menu a {
    background-color: rgb(92, 118, 178);
    border-color: white;
    color: #fafafa;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: rgb(40, 59, 141);
}

/*Подменю*/
.Menu a.second {
    background-color: rgb(110, 174, 221);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: rgb(40, 59, 141);
}

/*Задний фон для табличного списка админки*/
.tbl_back {
    background-color: #2b57aa;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 5px;
    margin: 10px 0 20px 0;
    background-color: rgb(103, 185, 237);
    border-radius: 50px;
    border-style: ridge;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    background-color: #62759a;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(103, 185, 237);
    border: 3px;
    border-top-style: groove;
    color: white;
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}