/*Заголовок 1*/
h1 {
    color: #184a6f;
}

/*Заголовок 2*/
h2 {

}

/*Заголовок 3*/
h3 {

}

/*Заголовок 4*/
h4 {
    color: white;
}

/*Заголовок 5*/
h5 {

}

/*Шапка сайта*/
header {
    background-color: rgb(156, 166, 186);
}

/*Шапка админки*/
.admHead {
    background-color: rgb(156, 166, 186);
}

/*Задник для кнопок верхнего меню*/
.button_back {
    background-color: rgb(156, 166, 186);
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 10px 0 0 10px;
    background: rgba(111, 107, 107, 1);
    border-style: ridge;
    padding: 5px;
    box-sizing: border-box;
}

/*Изображение логотипа в шапке*/
.main_img img {
    width: 94px;
    height: 94px;
}

/*Надпись svg*/
.name_svg {
    width: 48%;
    height: 48%;
    margin-top: -25px;
    margin-left: -17px;
}

/*Сноска в кнопке*/
.button_link {
    color: #fafafa;
    background-color: #818181;
}

/*При наведении на ссылку в кнопке*/
.button_link:hover {
    background-color: #2c2c2c;
}

/*Всплывающее меню*/
.top_menu3 {
    background-color:  #2c2c2c;
    border: 2px;
    border-style: outset;
    border-top-style: none;
}

/*Наведение на пункт всплывающего меню*/
.top_menu3 div:hover {
    background-color: #818181;
}

/*Белая полоса в шапке для скрытия сонтентапод шапкой*/
.white-line {
    position: absolute;
    top: 106px;
    left: 0;
    visibility: hidden;
}

/*Сноска в полосе для отображения ссылок*/
.link_page a {
    color: white;
}

/*Прозрачная полоса в шапке для отображения ссылок*/
.opacity-line {
    top: 106px;
}

/*Основное поле контента*/
.content {
    min-height: calc(100vh - 333px);
}

/*Ячейка в табличном расположении эл-ов с тенью*/
.grid_cell_shadow {
    padding-top: 2px;
    box-shadow: 0 0 0 0;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #505050;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

/*Ссылка в блоке меню*/
.Menu a {
    background-color: #717171;
    border-color: white;
    color: #fafafa;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: #343434;
}

/*Подменю*/
.Menu a.second {
    background-color: rgba(178, 178, 178, 1);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: #343434;
}

/*Задний фон для табличного списка админки*/
.tbl_back {
    background-color: #626262;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 3px;
    margin: 10px 0 20px 0;
    background-color: rgb(163, 163, 163);
    border-radius: 50px;
    border-style: ridge;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    background-color: #9b9b9b;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(175, 175, 175, 1);
    border: 3px;
    border-top-style: groove;
    color: white;
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}