/*Основной фон страницы*/
body {
    background-image: linear-gradient(rgba(160, 160, 160, 0.5), rgba(160, 160, 160, 0.5)), url(i/fon.jpg);
}

/*Заголовок 1*/
h1 {
    color: #184a6f;
}

/*Заголовок 2*/
h2 {
    
}

/*Заголовок 3*/
h3 {

}

/*Заголовок 4*/
h4 {
    color: white;
}

/*Заголовок 5*/
h5 {
    
}

/*Шапка сайта*/
header {
    background: rgba(0,0,0, 0.5), url(i/header.png); 
}

/*Блок для изображения значка в круге*/
.Head_img {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

/*Второй блок для изображения значка*/
.Head_img2 {
    position: relative;
    margin: 0 20px 20px 20px;
    display: block;
    background: rgba(111, 107, 107, 0.41);
}

/*Сноска в кнопке*/
.button a {
    color: #fafafa;
    background-color: #9b9b9b;
}

/*При наведении на ссылку в кнопке*/
.button a:hover {
    background-color: #212d89;
}

/*Шапка админинки*/
.admHead {
    vertical-align: middle;
    color: white;
}

/*Надпись в виде кнопки (заголовки таблиц в медиа)*/
.btn_look {
    width: auto;
    background-color: #505050;
    color: white;
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

/*Ссылка в блоке меню*/
.Menu a {
    background-color: #717171;
    border-color: white;
    color: #fafafa;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    background-color: #212d89;
}

/*Подменю*/
.Menu a.second {
    background-color: rgba(178, 178, 178, 1);
}

/*При наведении на ссылку подменю*/
.Menu a.second:hover {
    background-color: #212d89;
}

/*Заголовок табличного списка в админке*/
.list_back_admin .listHead {
    color: white;
}

/*Задний фон для табличного списка админки. Ставится в Table*/
.list_back_admin {
    background-color: #9b9b9b;
    border-radius: 5px;
    padding: 3px;
    width: 80%;
}

/*разделяющий цветной блок*/
.color_space {
    display: block;
    min-height: 5px;
    margin: 10px 0 20px 0;
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
    border-style: ridge;
}

/*Подвал*/
footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(83, 116, 206, 0.8);
    color: #d4d2d2;
    /*background-image: url(i/footer.png);*/
}

/*Сноска в подвале*/
footer a{
    color: #ffffff;
}