@font-face {
    font-family: "Book";
    src: url('fonts/Antiqua_b.ttf');
}

@font-face {
    font-family: "Raleway-Light";
    src: url('fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: "AC Display Bold";
    src: url('fonts/AC Display Bold.otf');
}

@font-face {
    font-family: "AC Display";
    src: url('fonts/AC Display.otf');
}

@font-face {
    font-family: "Pattaya";
    src: url('fonts/pattaya.ttf');
}

/*Заголовок 1*/
h1 {
    font-family: "AC Display Bold";
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

/*Заголовок 2*/
h2 {
    font-family: "AC Display Bold";
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Заголовок 3*/
h3 {
    font-family: "AC Display";
    font-size: 18px;
    text-align: left;
    text-transform: uppercase; /* Заглавные буквы */
    margin: 0;
}

/*Заголовок 4*/
h4 {
    font-family: "AC Display";
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

/*Заголовок 5*/
h5 {
    font-family: "AC Display";
    font-size: 25px;
    text-decoration-style: double;
    margin: 0;
}

/*Заголовок 6 (Для наименования в шапке)*/
h6 {
    font-family: "Pattaya";
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-transform: none;
}

/*Основной фон страницы*/
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Light";
    font-size: 18px;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
    min-width: 1000px;
}

/*Шапка сайта*/
header {
    position: relative;
    display: flex;
    font-family: "AC Display";
    text-transform: uppercase; /* Заглавные буквы */
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    height: 140px;
    padding: 0;
    vertical-align: top;
    z-index: 6;
}

/*Блок div в шапке сайта*/
.head_block {
    display: flex;
    flex-direction: column;
    width: calc(100% - 120px);
    z-index: 1;
}

/*Шапка админинки*/
.admHead {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}

/*Основная надпись*/
.mine_name {
    position: absolute;
    width: 430px;
    color: white;
    margin: 5px 0 0 5px;
    font-family: "AC Display Bold";
    font-size: 30px;
    z-index: -1;
}

/*Логотип svg*/
.logo_svg {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*рисунок логотипа*/
.logo_svg path {
    fill: white;
    stroke: white;
    stroke-width: 5;
    
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1;
    -webkit-animation: londing 20s linear 0s, change_color 20s linear 20s infinite;
    -o-animation: londing 20s linear 0s, change_color 20s linear 20s infinite;
    animation: londing 20s linear 0s, change_color 20s linear 20s infinite;
}

/*При наведении на лого*/
.main_img:hover .blink_rect {
    animation: blink_img 0.5s linear;
    -webkit-animation: blink_img 0.5s linear;
    -o-animation: blink_img 0.5s linear;
}

/*Анимация поворота на 360 градусов*/
@keyframes rotate_logo {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

/*Надпись svg*/
.name_svg {
    width: 50%;
    height: 50%;
    margin: -17px;
}

/*Рисунок надписи*/
.name_svg path {
    fill: white;
    stroke: white;
    stroke-width: 5;
    
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    stroke-dasharray: 800;
    stroke-dashoffset: 1;
    -webkit-animation: londing_n 20s linear 0s;
    -o-animation: londing_n 20s linear 0s;
    animation: londing_n 20s linear 0s;
}

/*Анимация прорисовки svg для лого*/
@keyframes londing {
    0% {
        stroke-dashoffset: -1900;
        fill-opacity: 0;
        fill: none;
    }

    20% {
        stroke-dashoffset: 0;
        fill: white;
        fill-opacity: 0;
    }

    40% {
        stroke-dashoffset: 0;
        fill-opacity: 2;
        fill: white;
    }
    
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 2;
        fill: white;
    }
}

/*Анимация прорисовки svg для надписи*/
@keyframes londing_n {
    0% {
        stroke-dashoffset: -800;
        fill-opacity: 0;
        fill: none;
    }

    20% {
        stroke-dashoffset: 0;
        fill: white;
        fill-opacity: 0;
    }

    40% {
        stroke-dashoffset: 0;
        fill-opacity: 2;
        fill: white;
    }
    
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 2;
        fill: white;
    }
}

/*Анимация смены цвета*/
@keyframes change_color {
    0% {
        fill: white;
    }

    10% {
        fill: #dee5ff;
    }

    20% {
        fill: #d8efff;
    }

    30% {
        fill: #d7f7f3;
    }

    40% {
        fill: #e4f6d6;
    }
    
    50% {
        fill: #f1efcc;
    }
    
    60% {
        fill: #f8e4db;
    }
    
    70% {
        fill: #f3d3e2;
    }
    
    80% {
        fill: #f0e1ff;
    }
    
    90% {
        fill: white;
    }
    
    100% {
        fill: white;
    }
}

/*Изображения в шапке на кнопках*/
.btn_img {
    display: block;
    margin: auto;
    background: none;
    width: 25px;
    height: 25px;
}

/*Фон блока*/
.background {
    position: absolute;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    z-index: 0;
    opacity: 0.5;
    overflow: hidden;
}

/*Заголовок в шапке*/
.main_name {
    position: absolute;
    display: block;
    margin-left: 150px;
    margin-top: 28px;
}

/*Белая полоса в шапке для скрытия сонтентапод шапкой*/
.white-line {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 103px;
    width: 100%;
    height: 30px;
    background-color: white;
    z-index: -1;
}

/*Прозрачная полоса в шапке для отображения ссылок*/
.opacity-line {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 103px;
    width: 100%;
    height: 30px;
    z-index: -1;
}

/*Блок для ссылок в шапке*/
.link_page {
    margin-left: 9px;
    font-family: "Raleway-Light";
    font-size: 15px;
    text-transform: capitalize;
}

/*Оформление ссылки в шапке*/
.link_page a {
    text-decoration: none;
    color: white;
}

/*Кнопка*/
.button {
    position: fixed;
    left: 0;
    right: 0;
    margin-right: 0;
    padding-right: 20px;
    min-width: 580px;
}

/*Задник для кнопок верхнего меню*/
.button_back {
    position: fixed;
    left: 0;
    right: 0;
    height: 53px;
    background-color: white;
    /*z-index: 5;*/
}

/*Блок для скрытия тени блока кнопок*/
.clear_block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*Основной блок в элементе верхнего меню*/
.top_menu {
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

/*Первый блок с картинкой в элементе верхнего меню*/
.top_menu1 {
    display: block;
    margin-top: 3px;
    width: 70px;
    text-align: center;
}

/*Второй блок с надписью в элементе верхнего меню*/
.top_menu2 {
    display: block;
    width: auto;
    text-align: center;
    
    font-size: 13px;
}

/*Всплывающее меню*/
.top_menu3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55px;
    right: -2px;
    padding: 5px 0;
    /*width: 0;
    height: 0;*/
    align-items: flex-end;
    visibility: hidden;
    overflow: hidden;
    z-index: 9;
}

/*Блок во всплывающем меню*/
.top_menu3 div {
    padding: 5px 10px;
    text-align: right;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/*При наведении на всплывающее меню*/
.top_menu3:hover {
    visibility: visible;
    width: 200px;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /*Тень*/
}

/*Наведение на пункт всплывающего меню*/
.top_menu3 div:hover {
    margin: 0;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

/*Сноска в кнопке*/
.button_link {
    position: relative;
    display: block;
    margin: -23px 5px 10px 5px;
    width: 70px;
    height: 43px;
    float: right;
    padding: 2px 7px 10px 7px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px;
    border-style: outset;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /*Тень*/
        
    animation: width_menu_up 0.5s linear;
    -o-animation: width_menu_up 0.5s linear;
    -webkit-animation: width_menu_up 0.5s linear;
}

/*Сноска в кнопке*/
.button_link a {
    text-decoration: none;
    color: #fafafa;
}

/*При наведении на ссылку в кнопке*/
.button_link:hover {
    display: block;
    height: 43px;
    text-align: center;
    border-radius: 0;
    
    /*Анимация*/
    margin-top: -2px;
    animation: width_menu_down 0.5s linear;
    -o-animation: width_menu_down 0.5s linear;
    -webkit-animation: width_menu_down 0.5s linear;
}

/*При наведении на ссылку в кнопке*/
.button_link:hover .top_menu3 {
    visibility: visible;
    width: 200px;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /*Тень*/
    
    animation: menu_zoom 0.8s linear 0s;
    -o-animation: menu_zoom 0.8s linear 0s;
    -moz-animation: menu_zoom 0.8s linear 0s;
    -webkit-animation: menu_zoom 0.8s linear 0s;
}

/*Анимация выезда меню*/
@keyframes menu_zoom {
    from {
        /*width: 0;
        height: 0;*/
        /*top: -100%;*/

        opacity: 0;
    }
    
    /*80% {
        width: 200px;
        height: 25px;
    }*/
    
    to {
        /*width: 200px;
        height: 200px;*/
        /*top: 55px;*/
        opacity: 1;
    }
}

/*Анимация опускания кнопки меню*/
@keyframes width_menu_down {
    from {
        margin-top: -20px;
     }
    
    to {
        margin-top: -2px;
     }
}

/*Анимация поднятия кнопки меню*/
@keyframes width_menu_up {
    from {
        margin-top: -2px;
     }
    
    to {
        margin-top: -20px;
    }
}

/*Меню слева*/
.Menu {
    display: inherit;
    width: 220px;
    margin: 90px 0px 20px 0px;
    font-family: "AC Display";
    text-transform: uppercase; /* Заглавные буквы */
    font-size: 15px;
}

/*блок в блоке меню*/
.Menu div {
    width: 180px;
    position: relative;
    margin: 0px 20px 0px 0px;
}

/*Ссылка в блоке меню*/
.Menu a {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 5px 5px -2px;
    border: 2px;
    border-style: outset;
    float: left;
    text-decoration: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /*Тень*/
    
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/*При наведении на ссылку в меню*/
.Menu a:hover {
    /*Анимация*/
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    
    padding-left: 25px;
}

/*Подпись даты публикации*/
.date_publ {
    font-family: "Raleway-Light";
    font-size: 11px;
    font-style: italic;
    margin: 0;
    padding: 0 10px;
    text-align: right;
}

/*Подпись под картинкой*/
.sign {
    font-size: 11px;
    font-style: italic;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}

/*Расположение элементов в одну колонку*/
.grid-1 {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*Расположение элементов в две колонки*/
.grid-2_40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
}

/*формат блоков в двухколоночном расположении (аудиозаписи)*/
.grid-2_40-60 div {
    display: flex;
    padding: 5px;
    align-items: center;
}

/*формат блоков в двухколоночном расположении (главная)*/
.grid-2_60-40 {
    display: grid;
    grid-template-columns: 59% 1% 40%;
    width: 100%;
}

/*Расположение элементов в три колонки*/
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    align-items: flex-start;
}

/*Расположение элементов в пять колонок*/
.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: flex-start;
}

/*Ячейка в табличном расположении эл-ов*/
.grid_cell {
    position: relative;
    display: block;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: justify;
}

/*Ссылка в ячейке табличного расположения*/
.grid_cell a {
    text-decoration: none;
    color: black;
}

/*Изображение в ячейке табличного расположения эл-ов*/
.grid_cell img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*Наведение курсора на ссылку в сетке*/
.prevew:hover .blink_rect {
    animation: blink_img 0.5s linear;
    -o-animation: blink_img 0.5s linear;
    -webkit-animation: blink_img 0.5s linear;
}

/*Ячейка в табличном расположении эл-ов с тенью*/
.grid_cell_shadow {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px 10px;
    text-decoration: none;
    color: black;
    text-align: justify;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    width: 32%;
    box-sizing: border-box;
    border-radius: 5px;
}

/*Ссылка в ячейке табличного расположения с тенью*/
.grid_cell_shadow a {
    text-decoration: none;
    color: black;
}

/*Изображение в ячейке табличного расположения эл-ов с тенью*/
.grid_cell_shadow img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*Наведение курсора на ссылку в сетке на три колонки с тенью*/
.grid_cell_shadow img:hover {
    transform: scale(0.9);
    
    transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

/*Изображение для аудио проповеди на главной*/
.audio_preach {
    width: 100%;
    /*box-shadow: 0 6px 16px 3px rgba(0, 0, 0, 0.5);*/
}

/*Блок для контролера аудио*/
.audio_frame {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*Фрейм контроллера аудио*/
.audio_frame audio {
    position: absolute;
    bottom: 12%;
    width: 90%;
    padding: 5px;
    border-radius: 50px;
}

/*Блок с названием аудио*/
.audio_name {
    padding: 5px 10px 30px 10px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "AC Display";
    font-size: 150%;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0));
    color: white;
    
    animation: visible_name_rev 0.5s linear;
    -o-animation: visible_name_rev 0.5s linear;
    -webkit-animation: visible_name_rev 0.5s linear;
}

/*При наведении на блок*/
.grid-1:hover .audio_name {
    opacity: 1;
    
    animation: visible_name 0.5s linear;
    -o-animation: visible_name 0.5s linear;
    -webkit-animation: visible_name 0.5s linear;
}

/*Анимация показа названия*/
@keyframes visible_name {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/*Анимация показа названия*/
@keyframes visible_name_rev {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}


/*Блок для расположения обложки в папке*/
.folder_cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Блок для отображения передней части папки*/
.folder_front {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 15px;
    padding: 5px;
    background-color: gray;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.99;
    color: white;
    font-family: "AC Display";
    font-size: 16px;
}

/*Блок трех последних новостей*/
.flex_news-3 {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

/*Изображение в статье*/
.articl_img {
    position: relative;
    float: left;
    margin: 0 15px 13px 0;
    width: calc(100vw/3 - 100px);
    min-width: 200px;
    max-width: 400px;
}

/*Изображение в ячейке с изображением в статье*/
.articl_img img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

/*Блок для эффекта бликоа на фотке*/
.blink_rect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/*При наведении на изображение в статье*/
a:hover .rect1_32 .rect2_32 img {
    transform: scale(1.1);
    
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/*Ссылка для кнопки назад к списку альбомов*/
.arrow {
    width: 40px;
}

/*Последовательное расположение 2 кнопок с расстоянием*/
.btn_space_2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

/*Фон таблиц для админки*/
.tbl_back {
    position: relative;
    border-radius: 5px;
}

/*Заглавия в таблицах*/
.tbl_title {
    display: flex;
    flex-direction:row;
    color: white;
    font-family: "AC Display Bold";
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/*Формирование таблиц на два столбца с одним столбцом кнопок*/
.tbl-2 {
    display: grid;
    grid-template-columns: auto 55px;
}

/*Формирование таблиц на три столбца с двумя столбцами кнопок*/
.tbl-3 {
    display: grid;
    grid-template-columns: auto 55px 55px;
}

/*Формирование таблиц на три столбца*/
.tbl-instr {
    display: grid;
    grid-template-columns: auto auto 100px;
}

/*Формирование таблиц на четыре столбца с двумя столбцами кнопок*/
.tbl-4 {
    display: grid;
    grid-template-columns: auto auto 55px 55px;
}

/*Изображение кнопок в таблицах на два, три и четыре столбца*/
.tbl-2 img,
.tbl-3 img,
.tbl-4 img {
    width: 35px;
    padding: 3px;
}

/*Первая колонка в таблице*/
.col-1 {
    display: flex;
    background-color: white;
    margin: 0 0 3px 3px;
    align-items: center;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/*Колонка в середине таблицы*/
.col-midle {
    display: flex;
    background-color: white;
    margin: 0 0 3px 3px;;
    align-items: center;
    padding: 5px;
}

/*Последняя колонка в таблице*/
.col-last {
    display: flex;
    background-color: white;
    margin: 0 3px 3px 3px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

/*Поле ввода в списке настроек*/
.col-last label input {
    width: 35px;
    text-align: center;
}

/*Невидимый блок*/
.invis {
    display: none;
}

/*Чекбокс для выбора просмотра видео */
.video_frame {
    display: none;
}

/*Поведение блока видео при отмеченном чекбоксе*/
.video_frame:checked + label + .video_window {
    display: flex;
}

/*Поведение окна видео при отмеченном чекбоксе*/
.video_frame:checked + label + .video_window .video {
    animation: window_zoom 1.5s linear;
    -o-animation: window_zoom 1.5s linear;
    -webkit-animation: window_zoom 1.5s linear;
}

/*Лейбл 1 для чекбокса*/
.video_label {
    cursor: pointer;
}

/*Блок нажатие на который останавливает видео*/
.vid_close {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

/*Лейбл 2 для чекбокса (для закрытия окна видео)*/
.video_label-2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*Окно видео*/
.video_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    display: none;
    z-index: 99999;
}

/*Блок div в окне видео*/
.video_window div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    font-family: "AC Display Bold";
    font-size: 18px;
    text-align: right;
    padding: 5px;
    z-index: -1;
}

/*Анимация зума окна*/
@keyframes window_zoom {
    from {
        width: 0;
        height: 0;
    }
    
    to {
        widows: 100%;
        height: 100%;
    }
}

/*Первый блок для создания прямоугольника 16/9*/
.rect1 {
    position: relative;
	width: 100%;
}

/*Первый блок для создания прямоугольника 16/9*/
.rect1::before {
    content: "";
	display: block;
	padding-top: 56.25%;
}

/*Второй блок для создания прямоугольника 16/9*/
.rect2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

/*Первый блок для создания прямоугольника 3/2*/
.rect1_32 {
    position: relative;
	width: 100%;
}

/*Первый блок для создания прямоугольника 3/2*/
.rect1_32::before {
    content: "";
	display: block;
	padding-top: 66.67%;
}

/*Второй блок для создания прямоугольника 3/2*/
.rect2_32 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

/*Первый блок для создания прямоугольника последних новостей*/
.top_news1 {
    position: relative;
	width: 100%;
    overflow: hidden;
}

/*Первый блок для создания прямоугольника последних новостей*/
.top_news1::before {
    content: "";
	display: block;
	padding-top: 66.67%;
}

/*Анимация сдвига влево*/
@keyframes slider {
    from {
        transform: translate(0) scale(1);
    }
    
    25% {
        transform: translate(0) scale(0.9);
    }
    
    75% {
        transform: translate(-50%) scale(0.9);
    }
    
    to {
        transform: translate(-50%) scale(1);
    }
}

/*Анимация сдвига назад*/
@keyframes slider_r {
    from {
        transform: translate(-50%) scale(1);
    }
    
    25% {
        transform: translate(-50%) scale(0.9);
    }
    
    75% {
        transform: translate(0) scale(0.9);
    }
    
    to {
        transform: translate(0) scale(1);
    }
}

/*Второй блок для создания прямоугольника последних новостей*/
.top_news2 {
    position: absolute;
    display: flex;
    width: 200%;
    flex-direction: row;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
        
    animation: slider_r 1s linear;
    -o-animation: slider_r 1s linear;
    -webkit-animation: slider_r 1s linear;
    
    transform: translateX(0) scale(1);
}

/*Контейнер в новостном блоке*/
.top_news2 div {
    width: 100%;
    padding: 2px;
}

/*При наведении мыши на новостной блок*/
.top_news2:hover {
    animation: slider 1s linear;
    -o-animation: slider 1s linear;
    -webkit-animation: slider 1s linear;
    
    transform: translateX(-50%) scale(1);
}

/*контейнеры для оформления новостного блока*/
.tn_2 {
    display: block;
}

/*контейнеры для оформления новостного блока. Основная запись*/
.tn_21 {
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
    overflow: hidden;
}

/*контейнеры для оформления новостного блока. Подпись "читать далее..."*/
.tn_22 {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    color: #537bd6;
    text-align: right;
    vertical-align: bottom;
}

/*Блок основной в списке альбомов фото*/
.alb_main {
    position: relative;
    display: block;
    overflow: hidden;
}

/*При наведении курсора на ссылку в ячейке в списке фото- альбомов*/
.grid_cell a:hover .alb_main .sq1 {
    opacity: 0.4;
    
    transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

/*Блок для подписи альбома*/
.alb_title {
    position: absolute;
    display: table-cell;
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 1;
    vertical-align: middle;
    font-family: "AC Display";
    text-align: center;
    font-size: 20px;
}

/*Первый блок для создания квадрата*/
.sq1 {
    display: block;
    position: relative;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

/*Первый блок для создания квадрата*/
.sq1::before {
    content: "";
	display: block;
	padding-top: 100%;
}

/*Второй блок для создания квадрата*/
.sq2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/*Абсолютная позиция 1-го элемента (кнопка удалить в админке фото)*/
img.fix {
    position: absolute;
    left: 5px;
    width: 15px;
    height: 15px;
    border-style: outset;
    border-color: #ededed;
    background-color: #c1c1c1;
    z-index: 9999;
}

/*Абсолютная позиция 2-го элемента (кнопка обложка в админке фото)*/
img.fix2 {
    position: absolute;
    left: 30px;
    width: 15px;
    height: 15px;
    border-style: outset;
    border-color: #ededed;
    background-color: #c1c1c1;
    z-index: 9999;
}

/*Анимация Зум*/
@keyframes zoom {
    from {
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale(1);
    }
    
    25% {
        transform: perspective(300px) rotateX(5deg) rotateY(-5deg) scale(0.95);
    }
    
    50% {
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale(0.95);
    }
    
    75% {
        transform: perspective(300px) rotateX(-5deg) rotateY(5deg) scale(0.9);
    }
    
    to {
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale(0.9);
    }
}

/*Анимация Поворот*/
@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    
    20% {
        transform: rotate(3deg) scale(0.98);
    }
    
    40% {
        transform: rotate(-3deg) scale(0.96);
    }
    
    60% {
        transform: rotate(3deg) scale(0.94);
    }
    
    80% {
        transform: rotate(-3deg) scale(0.92);
    }
    
    to {
        transform: rotate(0deg) scale(0.9);
    }
}

/*Для превьюшек фоток*/
.prevew:hover {
    transform: scale(0.9);
    opacity: 1;
    cursor: zoom-in;
}

/*Список страниц*/
.page_num {
    margin: 5px;
    padding: 0;
}

/*Номера рядом стоящих страниц*/
.page_list {
    display: inline-flex;
    flex-direction: row;
}

/*Ссылка в списке страниц*/
.page_list a {
    text-decoration: none;
    color: #19149a;
    font-size: 20px;
    font-family: "Book";
}

/*Текущая страница*/
.page_main {
    display: inline-flex;
    flex-direction: row;
    color: #5f5f5f;
    font-size: 27px;
    font-family: "Book";
}

/*Основное поле контента*/
.content {
    width: 940px;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    min-height: calc(100vh - 340px);
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*Центрирующий блок для основного контента*/
.cent {
    width: 100%;
    margin: 20px;
}

/*Блок для вывода контента с меню*/
.WithMenu {
    display: flex;
}

/*Отступ снизу от меню. Для разделения с подменю*/
.Menu a.space {
    margin-bottom: 30px;
}

/*Текст на главной странице*/
.Text {
    text-align: justify;
    vertical-align: top;
}

/*Параграф в тексте на главной странице*/
.Text p {
    margin-bottom: 0;
}

/*Параметры видеофрейма в списке видео*/
iframe.video {
    width: calc(70vw);
    height: calc(70vw*9/16);
    max-width: 800px;
    max-height: 450px;
    
    /*Оформление рамки вокруг видео*/
    border: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #e5e5e5;
}

/*Параметры видеофрейма на главной*/
iframe.video_main {
    width: 940px;
    height: 528.75px;
}

/*Параметры фрейма Библии*/
iframe.bible {
    width: 100%;
    height: 650px;
}

/*Минимальное расстояние блока (для разделения таблиц)*/
.space {
    min-height: 20px;
}

/*Формы создания и редактирования в админке*/
.form-item {
    display: block;
    width: 250px;
    border-radius: 5px;
    padding: 3px;
    border-color: #9b9b9b;
    border-style: outset;
    border-width: thin;
}

/*Текстовое поле в форме создания и редактирования в админке*/
.form-item-ta {
    display: block;
    margin: 0px 0px 15px 0px;
    min-width: 500px;
    max-width: 500px;
    height: 200px;
    min-height: 200px;
    border-radius: 5px;
    padding: 3px;
    border-style: outset;
    border-color: #9b9b9b;
}

/*Текстовое поле в форме написания сообщения*/
.form-item-mail {
    display: block;
    margin: 0px 0px 15px 0px;
    width: 400px;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 150px;
    border-radius: 5px;
    padding: 3px;
    border-style: outset;
    border-color: #9b9b9b;
}

/*Поле выбора файлов в форме создания и редактирования в админке*/
.form-item-file {
    display: block;
    margin: 0px 0px 15px 0px;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    padding: 3px;
}

/*Кнопка (на странице ввода и редактирования статей и файлов)*/
.btn {
    border-radius: 7px;
    padding: 7px;
    color: #fafafa;
}

/*Блок в подвале*/
footer div {
    margin: 10px;
    text-align: center;
    font-size: 12px;
}

/*Плоский стиль в подвале*/
.flex_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Плоский стиль*/
.flex {
    display: flex;
    align-items: center;
}

/*Блок поискового запроса*/
.search {
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    vertical-align: middle;
}

/*Для блока Поделиться в соцсетях*/
.share {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 200px;
    background-color: white;
    right: -105px;
    padding: 5px;
    
    animation: slide_off 0.5s linear;
    -o-animation: slide_off 0.5s linear;
    -webkit-animation: slide_off 0.5s linear;
    z-index: 3;
}

/*Блок Поделиться в соцсетях при наведении*/
.share:hover {
    right: 5px;
    
    animation: slide_on 0.5s linear;
}

/*Анимация выезда блока*/
@keyframes slide_on {
    from {
        right: -105px;
    }

    to {
        right: 5px;
    }
}

/*Анимация заезда блока*/
@keyframes slide_off {
    from {
        right: 5px;
        left: auto;
    }
    
    10% {
        right: auto;
        left: calc(100vw - 150px);
    }
    
    to {
        right: auto;
        left: calc(100vw - 50px);
    }
}

/*Кнопка вверх*/
#toTop {
    position: fixed;
    z-index: 9999;
    bottom: 120px;
    right: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    text-decoration: none;
}

/*Изображение кнопки вверх*/
#toTop img {
    width: 60px;
    height: 60px;
    opacity: 0.8;
}

/*--------- Сворачивание блоков таблицы ------------*/

/*Область кнопки сворачивания таблицы*/
.hide_table {
    display: block;
    width: 40px;
}

/*Картинка для кнопки сворачивания*/
.hide_table img {
    width: 20px;
    height: 20px;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none; 
}

/* вид текста label */
.hide + label,
.hide:checked + label {
    position: absolute;
    right: -10px;
    top: 5px;
    padding-right: 5px;
    cursor: pointer;
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: grid; 
}
/*-------------- Конец настроек сворачивания -----------*/

/*Плеер аудио*/
.audio {
    width: 100%;
    margin: 5px;
}

/*Анимация блика изображения*/
@keyframes blink_img {
    from {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0),  rgba(255, 255, 255, 0.4) 10%, rgba(123, 123, 123, 0));
    }
    
    10% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(255, 255, 255, 0.4) 20%, rgba(123, 123, 123, 0));
    }
    
    20% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(255, 255, 255, 0.4) 30%, rgba(123, 123, 123, 0));
    }
    
    30% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(255, 255, 255, 0.4) 40%, rgba(123, 123, 123, 0));
    }
    
    40% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(255, 255, 255, 0.4) 50%, rgba(123, 123, 123, 0));
    }
    
    50% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 10%, rgba(255, 255, 255, 0.4) 60%, rgba(123, 123, 123, 0));
    }
    
    60% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 30%, rgba(255, 255, 255, 0.4) 70%, rgba(123, 123, 123, 0));
    }

    70% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 50%, rgba(255, 255, 255, 0.4) 80%, rgba(123, 123, 123, 0));
    }
    
    80% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 70%, rgba(255, 255, 255, 0.4) 90%, rgba(123, 123, 123, 0));
    }
        
    90% {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 90%, rgba(255, 255, 255, 0.4) 100%, rgba(123, 123, 123, 0));
    }
        
    to {
        background: linear-gradient(135deg, rgba(123, 123, 123, 0), rgba(123, 123, 123, 0) 110%, rgba(255, 255, 255, 0.4) 110%, rgba(123, 123, 123, 0));
    }
}